/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* common css style */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0px 120px;
}

section {
  margin: 100px 0px;
}

/* Header style */
.header {
  margin-top: 50px;
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 243px;
  height: 52.2px;
  color: #3a3a3a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header .nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .nav ul li {
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.banner-text h2 {
  color: #3a3a3a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}

.banner-text p {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0px;
}

.banner-text button {
  border-radius: 41px;
  background: #e02c6d;
  border: 0;
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.banner-image {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* brands logo section style */

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 30px;
  border-top: 2px solid rgb(228, 228, 228);
  border-bottom: 2px solid rgb(228, 228, 228);
  padding: 25px 0px;
}

/* Popular collection section */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.product {
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.315);
  padding: 20px;
  border-radius: 10px;
}

.popular-title {
  color: #3a3a3a;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

.product-img img {
  width: 100%;
}

.product-name {
  color: #18191f;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.product-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.product-rating p {
  color: #787885;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.252px;
}

.fa-star.filled {
  color: #fb8200;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}

span {
  color: #5e6366;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.see-more {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
  text-align: end;
  cursor: pointer;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.feature h2 {
  color: #0a0826;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.feature p {
  color: #6c6c6c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 20px 0px;
}

.feature button {
  background-color: #e02c6d;
  border: 0px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
